@use '../global' as g;

.canvasWrapper {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.wrapper {
  @include g.is-medium {
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    margin-right: 50px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: g.calcMobileVw(20);
  width: 100%;
  margin: g.calcMobileVw(20) 0 g.calcMobileVw(100);
  @include g.is-medium {
    row-gap: 50px;
    margin: 50px 0 100px;
    max-width: 730px;
  }
}

.article {
  a {
    overflow: hidden;
    display: block;
  }
  .article-thumbnail {
    width: 100%;
    height: auto;
  }
  .article-title {
    margin-top: g.calcMobileVw(10);
    letter-spacing: 1px;
    font-size: g.rem(22);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    @include g.is-medium {
      margin-top: 10px;
    }
  }
  .article-time {
    display: block;
    margin-top: g.calcMobileVw(3);
    font-size: g.rem(14);
    color: g.$grayColor;
    @include g.is-medium {
      margin-top: 5px;
    }
  }
  .article-content {
    p {
      margin-top: g.calcMobileVw(20);
      letter-spacing: 1px;
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 300;
      @include g.is-medium {
        margin-top: 25px;
      }
    }
    figure {
      margin-top: g.calcMobileVw(20);
      @include g.is-medium {
        margin-top: 25px;
      }
    }
  }
}

.backHome {
  a {
    display: inline-block;
    line-height: 1;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
  }
}
