// カラー設定
$color-primary: #E3EF5E;
$color-black: #000;
$color-white: #FFF;

$color-text-default: $color-black;
$color-back: #FFFDF6;

// フォント設定
$font-xLarge: 2rem;
$font-large: 1.8rem;
$font-medium: 1.6rem;
$font-small: 1.4rem;
$font-xSmall: 1.2rem;
$font-minimum: 1rem;
$font-default: $font-medium;

$font-family-ja: "YuGothic", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

// letter-spacing
$letterSpacing-wide: .15em;

// line-height
$lineHeight-oneLine: 1;
$lineHeight-small: 1.4;
$lineHeight-medium: 1.6;
$lineHeight-large: 1.8;
$lineHeight-xLarge: 2;
$lineHeight-default: $lineHeight-medium;

// transition
$transition-default: all .3s ease-out;

// media Queries
// 基本のブレイクポイント方向を設定
// up  : モバイルファースト
// down: デスクトップファースト
$breakpoint-default-direction: up;

// ブレイクポイントの値入力 (コメントアウトは閲覧の参考)
$breakpoint-xsmall: 600px; // スマートフォン
$breakpoint-small: 760px; // タブレット縦持ち(Portrait)
$breakpoint-medium: 1024px; // タブレット横持ち(Landscape)
$breakpoint-large: 1200px; // デスクトップ(コンテンツの最大値など)
$breakpoint-xlarge: 1600px; // ワイドディスプレイ(アートボードのサイズなど)